

@font-face {
    font-family: 'FF Good Pro';
    src: local('FF Good Pro'), local('FFGoodPro-Regular'),
        url('../../fonts/FFGoodPro-Regular.woff2') format('woff2'),
        url('../../fonts/FFGoodPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

